/* Result Output font Effects */
@import "https://fonts.googleapis.com/css?family=Rancho&effect=fire-animation";
@import url('http://fonts.cdnfonts.com/css/beautiful-magic');
@font-face {
    font-family: 'Beautiful Magic';
    font-style: normal;
    font-weight: 400;
    src: local('Beautiful Magic'), url('https://fonts.cdnfonts.com/s/62343/BeautifulMagic-p74OK.woff') format('woff');
}
#resultId {
    margin-top: -1em;
    font-size: 30px;
    letter-spacing: 2px;
    font-family: 'Rancho';
}
#mainheading{
    font-family: 'Beautiful Magic', sans-serif;
}

/* Pop-Up */
.model_popup {
    transition: display 2s;
    transition-delay: 1s;
    display: none;
    position: fixed;
    z-index: 8;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgb(74 74 74 / 37%);
}

.popup_content {
    height: 58%;
    margin: 69px auto;
    margin-top: 9.4em;
    border: 1px solid #999;
    width: 28%;
    border-radius: 20px;
}

.popup {
    padding: 22px;
    height: 90%;
    margin: 18px;
    box-shadow: 0 1px 7px #f5f5f5;
    background: #eeeeee4f;
}

a.close {
    position: absolute;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 3px #00000057;
    font-size: 35px;
    text-decoration: none;
    margin-top: -33px;
    margin-left: 4.2em;
    transition-property: transform;
    transition-duration: 1s;
    transition-delay: 0.1s;
    cursor: pointer;
}

a.close:hover {
    transform: rotate(180deg);
}

.model_popup h4 {
    text-align: center;
    font-size: 17px;
    font-weight: 800;
    text-shadow: 2px 2px 2px black;
    font-family: nosifer;
}

.model_popup p {
    text-align: start;
    margin-top: 19px;
    line-height: 14px;
    font-size: 18px;
    font-weight: 800;
    text-shadow: 1px 1px 1px black;
    font-family: sans-serif;
}

/* Button Styling Start */
.holloween_btn {
    position: relative;
    display: inline-block;
    height: 39px;
    width: 92px;
    margin: 2px;
    border-radius: 20px 40px 20px 40px;
    border: none;
    background-image: url(https://i.giphy.com/media/xFKx1VlLZyfehaRbwD/giphy.webp);
    background-size: cover;
    box-shadow: 0px 0px 30px 2px red inset;
    background-position: 0% 10%;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.holloween_btn:focus:not(:focus-visible) {
    outline: 0;
    box-shadow: 0px 0px 5px 1px skyblue;
    border: 1px solid white;
}

p.tellme {
    margin-top: 5px;
}

.tellme,
.reset {
    font-family: Nosifer;
    font-size: 11px;
    font-weight: 800;
    text-shadow: 1px 1px 1px #3d3d3d;
    /* -webkit-background-clip: text; */
    -webkit-text-fill-color: rgb(255, 255, 255);
    -webkit-font-smoothing: antialiased;
}

.reset {
    margin-top: 5px;
    font-size: 12px;
}

.holloween_btn:hover,
.holloween_btn:focus {
    box-shadow: 0px 0px 5px 1px skyblue;
    border: 1px solid white;
}

.holloween_btn::after {
    content: "";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.holloween_btn:hover {
    -webkit-transform: scale(1.10, 1.10);
    transform: scale(1.10, 1.10);
}

.holloween_btn:hover::after {
    opacity: 1;
}

/* Button Styling End */
option {
    background-color: black;
    color: white;
}

.ask {
    font-family: 'Nosifer';
}


input[type="text"]:focus {
    border: 1px solid lightblue;
    box-shadow: 0 0 8px lightblue;
}

input[type="text"]:hover {
    border: 1px solid white;
    box-shadow: 0 0 5px lightblue;
}

input[type="text"] {
    color: white;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    outline: none;
    border-radius: 5px;
    width: 100%;
    height: 40px;
}

option[type="text"] {
    color: white;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    outline: none;
    border-radius: 5px;
    width: 100%;
}

/* import Magic font */
@import url('http://fonts.cdnfonts.com/css/beautiful-magic');

.navHover:hover {
    border-bottom: 1px solid red;
}

body {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0)),
        url(https://media0.giphy.com/media/jtVxhUfZvQ6KflynP0/giphy.gif?cid=790b761191ad666354b152a86634785afac4a7579f4f071d&rid=giphy.gif&ct=g);
    width: 100%;
    background-repeat: no-repeat;
    background-position-y: -19em;
    background-size: cover;
    height: auto;
    background-blend-mode: multiply;
}

footer.row.footer {
    position: fixed;
    width: 100%;
    bottom: 0%;
}


@media only screen and (max-width: 600px) {
    #resultId {
        margin-top: -1em;
        font-size: 24px;
        letter-spacing: 2px;
        font-family: 'Rancho';
        padding: 28px;
    }

    #futureHeading {
        font-size: 45px !important;
    }

    /* pop up */
    a.close {
        margin-left: 2.7em;
    }

    /* pop up */
    body {
        background-position-y: 0em;
        background-position-x: -19em;
    }

    .bgScroll {
        align-content: center;
        background-color: black;
        opacity: 0.7;
        padding: 2px;
        text-align: center;
        color: white;
    }

    .collapse:not(.show) {
        display: block;
    }

    ul.navbar-nav {
        display: block;
        display: flex;
        font-size: 13px;
        flex-direction: row;
    }

    .popup_content {
        height: 46%;
        margin: auto;
        margin-top: 11.1em;
        border: 1px solid #999;
        width: 75%;
        border-radius: 20px;
    }

    .rotate {
        width: 70%;
    }

    .darken h1 {
        font-size: 20px;
    }

    div#maincontent {
        padding-bottom: 4rem;
        background-color: rgb(0 0 0 / 58%) !important;
    }

    footer p {
        font-size: 11px !important;
        padding-left: 28px !important;
        padding-right: 28px !important;
    }
}



.rotate {
    animation: rotation 8s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}